<%#
# To change this template, choose Tools | Templates
# and open the template in the editor.
%>

<div style="height:400px;">
  
  <center>
      Welcome to CommunityHub
  </center>           


</div>
