<% if @communities.count > 0 %>

<h3>Listing communities</h3>

<table>
<% @communities.each do |community| %>
  <tr>
    <td> <%= image_tag community.avatar.url(:medium) %></td>
     <td><%= link_to community.name, community %></td>
     </tr>
<% end %>
</table>

<br />

<%else  %>
<h3>There no communities yet.</h3>
<%end%>


